
    
    <!-- Sidebar -->
    <aside class="aside aside-fixed">
        
        <!-- Sidebar Header -->
        <div class="aside-header">
            <a href="index.html" class="aside-logo">LOGO HERE</a>
            <a href="" class="aside-menu-link">
              <i class="fas fa-bars"></i>
            </a>
        </div>
        <!-- Sidebar Header -->
        
        <!-- Sidebar Menu -->
        <div class="aside-body">
            <div class="aside-loggedin">
                <div class="d-flex align-items-center">
                    <a href="" class="avatar avatar-online"><img src="../../../assets/images/paulgriffin.png" class="rounded-circle" alt=""></a>
                    <div class="aside-alert-link">
                      <a href=""><i class="fas fa-bell"></i></a>
                    </div>
                </div>
                <div class="aside-loggedin-user">
                    <a href="#loggedinMenu" class="d-flex align-items-center justify-content-between mg-b-2" data-toggle="collapse">
                          <h4 class="tx-employeename mg-b-0">Paul Griffin</h4>
                          <i class="fas fa-chevron-down"></i>
                    </a>
                </div>
                <div class="collapse" id="loggedinMenu">
                    <ul class="nav nav-aside mg-b-0">
                          <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-user"></i> <span>View Profile</span></a></li>
                          <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-cog"></i> <span>Settings</span></a></li>
                          <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-question-circle"></i> <span>Help Center</span></a></li>
                          <li class="nav-item"><a href="" class="nav-link"><i class="fas fa-sign-out-alt"></i> <span>Sign Out</span></a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-aside">
                <li class="nav-item active"><a href="index.html" class="nav-link"><i class="far fa-chart-bar"></i> <span>Overview</span></a></li>
                <li class="nav-item"><a href="transactions.html" class="nav-link"><i class="fas fa-history"></i> <span>Transaction History</span></a></li>
                <li class="nav-item"><a href="calendar.html" class="nav-link"><i class="far fa-calendar-alt"></i> <span>Calendar</span></a></li>
                <li class="nav-item"><a href="overtime.html" class="nav-link"><i class="fas fa-briefcase"></i> <span>Overtime</span></a></li>
                <li class="nav-item"><a href="expenseclaims.html" class="nav-link"><i class="fas fa-receipt"></i> <span>Expense Claims</span></a></li>
                <li class="nav-item"><a href="bonus.html" class="nav-link"><i class="fas fa-plus"></i> <span>Bonus</span></a></li>
            </ul>
        </div>
        <!-- Sidebar Menu -->
    </aside>
    <!-- Sidebar -->