<body id="login">
    <div class="row col-12">
        <div class="col-6">
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="signin-wrapper">
                <div class="wd-100p">
                    <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                    <p class="tx-color-03 tx-16 mg-b-40">Welcome back!</p>
                    <form>
                        <div class="form-group">
                            <label class="tx-16">Email address:</label>
                            <input type="email" class="form-control" placeholder="Your company email address">
                        </div>
                        <div class="form-group">
                        <div class="d-flex justify-content-between mg-b-5">
                          <label class="tx-16">Password:</label>
                        </div>
                        <input type="password" class="form-control" placeholder="Enter your password"><br/>
                        <a href="" class="tx-13">Forgot password?</a>
                        </div><br/>
                        <button type="submit" class="btn btn-lg btn-primary">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="libraries/jquery/jquery.min.js"></script>
    <script src="libraries/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- JS -->

</body>