<div id="login">
  <div class="login_navbar">
    <nav class="navbar navbar-expand-md">
      <div class="navbar-nav mr-auto ">
        <a href="http://google.com" class="logo"
          ><img src="../../assets/images/nikelogo.png" width="100px" height="40px" alt="logo"
        /></a>
      </div>
      <div class="navbar-nav ml-auto">
        <a
          href="https://jobs.nike.com/life-at-nike"
          class="nav-item nav-link active"
          >Life @ Nike</a
        >
        <a href="https://jobs.nike.com/brands" class="nav-item nav-link"
          >Brands</a
        >
        <a href="https://jobs.nike.com/teams" class="nav-item nav-link"
          >Teams</a
        >
        <a href="https://jobs.nike.com/locations" class="nav-item nav-link"
          >Locations</a
        >
      </div>
    </nav>
  </div>
  <div class="row col-12">
    <div class="col-6">
      <div class="login_content">
        <div class="login_header">
          Employee Payroll Portal
        </div>
        <div class="login_subheading">
          (Powered by Griffin$)
        </div>
        <hr />
        <div class="signin-wrapper">
          <form [formGroup]="loginForm">
            <div class="form-group">
              <label class="tx-16">Email address:</label>
              <input
                type="email"
                class="form-control"
                placeholder="Your company email address"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between mg-b-5">
                <label class="tx-16">Password:</label>
              </div>
              <input
                type="password"
                class="form-control"
                placeholder="Enter your password"
                formControlName="password"
              />
            </div>
            <br />
            <button type="submit" class="btn btn-lg btn-primary" (click)="goToHome()">
              Sign In
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <!-- <script src="libraries/jquery/jquery.min.js"></script>
    <script src="libraries/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <!-- JS -->
</div>
